language: python
sudo: false

python:
- '2.7'
- '3.4'
- '3.5'
- '3.6'

install:
- pip install -r requirements.txt
- pip install coveralls
- echo $PATH
- which python
- python --version
- python setup.py install

script:
- coverage run --source=pycamv setup.py test

after_success:
- coveralls

deploy:
  provider: pypi
  user: Nader.Morshed
  password:
    secure: "pec9QO9nIQGT8kuYSuVhnS600vwVYIvkqjaLDZp87axf6X/yOWWSw2nqE9p/M8UgDVd5HxLOOFoKhMWnZzz5OwEcb6L6m8+uHZH797Qu67Huu4kKyCnGoiBrmZ09dBG9jSsuNJMeg9v08o46CZj4EPxQo8PHoW/1Od1aD+ecooDgsTrpSpdLVScGqGQsv3qZpaSXkopLaNJyNBdQI4HDYpSLH6ufWBSs+q8mL1a8FmGQQR7qBbYtPDE5d/0dLp57Y+lXkjd2AajzhD1wQ0DLqHrNkHiLr6a/9HDSit5k7Xd44l/8JUQpfCtomT7DXkJxUHfy6Kfx6ha4GPMFEok0IbF+AR9BapM/9CnR3HVpfXt6oJVCIIM1vHEiFXPyAI26OJVZcDoXwchHTF2yNMofCBYDs+FMcOlT9pmDfZDKBKTIJgdCyjze2gQ8wHy+oiAfXuzbnWvD1ds8+xGcz4MkdvTsPlUkNII6rlJej6UkBlzdGaGWFUtutJK1PdHeHMFu9mpruWV2X64jgs8fpJVKiVWuFb2/JHav9o/iQyMLgu7Fhy8hXGuh1fgYuiU+zP303AKnFl1Q7CNWqfA1v5AnPtpV2xstUIeAqoMXKOeF29YJIWwNJsn0gt/wsOxE5glB3GdYBZGRT9a+cyjjHSGBMgSmJ7LJLLiQUOVA7Xdex0E="
  on:
    tags: true
    distributions: sdist bdist_wheel
    repo: white-lab/pycamverter
